version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: stock_db_final
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: stock_inventory
    volumes:
      - postgres_data_fresh:/var/lib/postgresql/data  # <--- CAMBIO AQUÍ (Nuevo nombre)
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_fresh:  # <--- CAMBIO AQUÍ (Debe coincidir con el de arriba)